$bk: #FFF;
$mav_primary: #000000;
$mav_primary_s: #F26A5E;

$mav_secondary: #F9CAAA;
$mav_secondary_s: #E8E4D6;



$primary: $mav_primary !important;
//$success:       $green !default;
// $info:          $cyan !default;
// $warning:       $orange !default;
// $danger:        $red !default;
$secondary: $mav_primary_s !important;

$info-outline: #1f7e9a;
$warning-outline: #a6670e;