.myFooter {
    width: 100%;
    height: auto;
    padding: 8px;
    background-color: #f7f7f777;

    .myFooter_wrp {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 1fr auto;
        gap: 8px 8px;
        grid-auto-flow: row;
        max-width: 814px;
        margin: 0 auto;
        grid-template-areas:
            "footer_logo footer_menu1 footer_menu2"
            "footer_cr footer_cr footer_cr";

        @include media_580 {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: auto;
            grid-template-areas:
                "footer_logo footer_logo"
                "footer_menu1 footer_menu2"
                "footer_cr footer_cr";
        }

        .footer_logo {
            justify-self: center;
            align-self: start;
            grid-area: footer_logo;

            .logo {
                margin-top: 1em;
                width: 100%;
                height: auto;
            }
        }

        .footer_menu1 {
            grid-area: footer_menu1;
            color: $mav_primary;

            @include media_580 {
                justify-self: center;
            }
        }

        .footer_menu2 {
            grid-area: footer_menu2;
            color: $mav_primary;
            
            @include media_580 {
                justify-self: center;
            }
        }

        .footer_menu1,
        .footer_menu2 {
            h3 {
                margin-bottom: 12px;
                font-size: 1em;
                font-weight: 500;
            }

            ul {
                padding-left: 0;
                list-style: none;

                li {
                    line-height: 32px;

                    a {
                        color: $mav_primary;
                        text-decoration: none;

                        &:hover {
                            color: #0f6cbf;
                        }
                    }
                }
            }
        }

        .footer_cr {
            align-self: center;
            grid-area: footer_cr;
            border-top: 1px solid #d8d8d8;

            p {
                text-align: center;
                color: $mav_primary;
                font-size: small;
                line-height: 2em;
                padding: 0;
                margin: 0;
                color: #686868;
            }
        }
    }
}

// component question footer moodle
.popover-body {
    background: #f7f7f777;
}